{%extends 'base.html' %}
{%block content%}
<div class="main">


<p class="h6">Thank you for buying from us</p>
    <p class="h6">Price:${{product.product_price}}</p>
    <p class="h6">Your product,{{product.product_name}} will be delivered</p>

    <img "card-img-top" src="{{product.product_image.url}}" alt="" height="400" width="400">
    <p class="h6">{{product.product_description}}</p>
    <p class="h6">To your destination place,{{user.address}}</p>
    <form action="" method="post">{%csrf_token%}
        <input type="hidden" name="product_id" value="{{product.id}}">
        <input type="hidden" name="user_id" value="{{user.id}}">
        <input type="submit" class="btn-primary" value="Confirm ">
    </form>

</div>
{%endblock%}
