{% extends 'base.html' %}
{% load static %}
{%block content%}
<div class="main1">
    <div class="container">
        <div class="row">
        {% for item in Items %}<br>
            {%  if forloop.counter|divisibleby:3 %}
            <div class="card" style="width: 18rem;" id="main1">
                    <h5 class="card-title">{{item.product_name}}</h5>
                    <div class="card-body">
                            <p class="card-text">
                                            Price:${{item.product_price}}<br>
                                            Description: {{item.product_description}}<br>
                                            Quantity:{{item.product_quantiy}}<br>
                                            Brand:{{item.product_brand}}<br>
                                            Avaliable:{{item.product_is_avaliable}}<br>
                            </p>
                            <img "card-img-top" src="{{item.product_image.url}}" alt="" height="200" width="200"><br>
                            <a href= "{% url 'buy' P_id=item.id %}" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            {% if not forloop.last %}
            <div class="row">
                {% endif %}
                {% else %}
                <div class="card" style="width: 18rem;" id="main1">
                    <h5 class="card-title">{{item.product_name}}</h5>
                    <div class="card-body">
                            <p class="card-text">
                                            Price:${{item.product_price}}<br>
                                            Description: {{item.product_description}}<br>
                                            Quantity:{{item.product_quantiy}}<br>
                                            Brand:{{item.product_brand}}<br>
                                            Avaliable:{{item.product_is_avaliable}}<br>
                            </p>
                            <img "card-img-top" src="{{item.product_image.url}}" alt="" height="200" width="200"><br>
                            <a href= "{% url 'buy' P_id=item.id %}" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
                {%endif%}

                {% endfor %}
        </div>

{%endblock%}

